# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Arquivos gerados
dist/
build/
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/