.navbar {
  background-color: #1e293b;
  color: white;
  min-height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar nav button {
  background: transparent;
  border: none;

  color: white;

  font-size: 15px;
  font-weight: 500;

  padding: 10px 16px;

  border-radius: 6px;

  cursor: pointer;

  transition: 0.3s;
}

.navbar nav button:hover {
  background-color: #334155;
  color: #38bdf8;
}

.navbar nav button.ativo {
  background-color: #0f172a;
  color: #38bdf8;
}